{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
    
                <div class="ibox-content m-b-sm border-bottom rounded-4">
                    <div class="p-xs d-flex justify-content-between align-items-lg-center">
                        <h2>Topic</h2>
                        {% if is_granted ('ROLE_USER') %}
                            <a href="{{path('add_topic')}}"> Add Topic</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
    
                <div class="ibox-content forum-container rounded-4">
    
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total posts: {{detailcategory.topics|length}}</samll>
                        </div>
                        <h3>General subjects</h3>
                    </div>
    
                    {% for topic in detailcategory.topics %}
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="{{path('show_message', {'id': topic.id})}}" class="forum-item-title">{{topic.nomtopic}}</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number fs-6">
                                    {{topic.user}}
                                </span>
                                <div>
                                    <small>Auteur</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    140
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number fs-6">
                                    {{topic.topcreateAt|date('d/m/Y')}}
                                </span>
                                <div>
                                    <small>Created date</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <div>
                                    {% if is_granted ('ROLE_USER') and app.user == topic.user  %}
                                        <a href="{{path ('edit_topic', {'id': topic.id})}}">Modifier</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
